apturl
asgiref
attrs
Babel
bcc
beautifulsoup4
blinker
catfish
certifi
cffi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cssselect
cupshelpers
dbus-python
defer
distro
distro-info
Django
docker
docker-compose
dockerpty
docopt
evdev
gyp
html5lib
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lightdm-gtk-greeter-settings
lxml
Mako
markdown-it-py
MarkupSafe
mdurl
menulibre
mugshot
netaddr
oauthlib
olefile
onboard
packaging
pexpect
pillow
pip
ply
protobuf
psutil
ptyprocess
pycairo
pycparser
pycups
Pygments
PyGObject
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-dotenv
python-magic
pytz
PyYAML
requests
rich
setproctitle
setuptools
sgt-launcher
six
soupsieve
sqlparse
systemd-python
texttable
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
webencodings
websocket-client
wheel
xcffib
xkit

